.category-performance-container {
    display: flex;
    justify-content: flex-start;
/*    align-items: flex-start;*/
    width: 100%;
    margin: 20px auto;
    gap: 20px;
    align-items: stretch;
}

.category-list {
    width: 150px;
    min-height: 350px;
    border: 1px solid #ccc;
    background-color: #8EB4E3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    gap: 10px;*/
    padding: 10px;
    border-radius: 8px;
    color: #F5F5F5;
}

.performance-box {
    flex-grow: 2;
    min-height: 350px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
/*    gap: 10px;*/
    border-radius: 8px;
    border: 2px solid #ccc;
    padding: 6px 20px;
}

.category-label {
    display: block;
    margin: 8px 0;
    text-decoration: underline;
    cursor: pointer;
    /*    color: #333;*/
    color: #F5F5F5;
    transition: color 0.2s ease;
}

    .category-label:hover {
        color: #007bff;
        text-decoration: underline;
    }


