.category-performance-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 20px auto;
    gap: 20px;

.category-list {
    width: 150px;
    min-height: 350px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.performance-box {
    flex-grow: 2;
    min-height: 350px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    padding: 10px;
}

.category-label {
    display: block;
    margin: 8px 0;
    text-decoration: underline;
    cursor: pointer;
    color: #333;
    transition: color 0.2s ease;
}

    .category-label:hover {
        color: #007bff;
        text-decoration: underline;
    }
