.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;

}

.search-box {
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    width: 100px;
}

.search-btn {
    /*    background: #668fda;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;*/

    background: #668fda;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
    padding: 0 15px;
    color: white;
    border: none;
    font-weight: bold;
    border: 1px solid #ccc;
    margin-left: 5px;
}

.table-container {
    /*    display: flex;*/
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    margin: 20px auto;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid #ccc;
    padding: 20px 70px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: black;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
}

th {
    background-color: #eee;
}

.delete-btn, .reservation-btn, .detail-btn, .info-btn {
    background-color: #dcdcdc;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 1px;
}

.pagination {
    text-align: center;
    margin-top: 10px;
}

.page-btn {
    background-color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 2px;
}
