<div class="menu-container">
    <div class="menu-item">
        <div class="menu-bar">알림판</div>
        <div class="menu">
            <a href="/Views/BoardList.aspx">조회</a>
            <a href="/Views/BoardCreate.aspx">등록</a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-bar">공연신청</div>
        <div class="menu">
            <a href="/Views/PerformanceList.aspx">조회</a>
            <a href="/Views/PerformanceReservation.aspx">예약</a>
            <a href="/Views/ReservationList.aspx">예약내역</a>
            <a href="/Views/PerformanceCreate.aspx">공연등록</a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-bar">관리자 메뉴</div>
        <div class="menu">
            <a href="/Views/AdminMenu.aspx">예약자 정보 조회</a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-bar">Active Directory</div>
        <div class="menu">
            <a href="/Views/ADManager.aspx">객체 탐색 및 정보 조회</a>
        </div>
    </div>
</div>
